<div class="about-us py-5" id="aboutUs">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="/THEVISION.png" alt="About Us" class="img-fluid rounded">
            </div>
            <div class="col-md-6 py-4">
                <h2 class="fw-bold">About Us</h2>
                <p>Welcome to Vision Library, your ultimate destination for knowledge and learning. We are a newly opened library dedicated to providing a peaceful and focused environment for students and book lovers. Our mission is to empower individuals through access to a wide array of resources, enabling them to achieve their academic and personal goals.</p>
                <p>At Vision Library, we believe that a well-stocked library is the backbone of a thriving community. Our carefully curated collection includes a diverse range of books, journals, and study materials tailored to meet the needs of students preparing for competitive exams like NEET, JKSSB, and UPSC.</p>
                <p>We offer various services, including study rooms, high-speed Wi-Fi, and access to digital resources. Our friendly staff is always available to assist you in finding the resources you need and to make your visit enjoyable.</p>
                <p>Join us at Vision Library, where knowledge meets inspiration!</p>
            </div>
        </div>
    </div>
</div>
