<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 mt-5">
          <h5 class="text-uppercase">The Vision Library</h5>
          <p>Your gateway to knowledge and exploration. Join us to discover a world of books!</p>
          <p><strong>Address:</strong> Main Market Chandiloora Opposite Bizz Restaurant, Tangmarg</p>
          <p><strong>Contact:</strong> +91 9622577957</p>
          <p><strong>Contact:</strong> +91 8713905976</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 mt-5">
          <h5 class="text-uppercase">Quick Links</h5>
          <ul class="list-unstyled">
            <li><a routerLink="/about" class="text-dark " style="text-decoration:none;">About Us</a></li>
            <li><a routerLink="/contact" class="text-dark" style="text-decoration: none;">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="social-media mt-3">
        <a href="https://wa.me/+918713905976" target="_blank" class="me-2"><i class="fab fa-whatsapp"></i></a>
        <a href="https://www.instagram.com/the_vision_library_chandilora?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class="me-2"><i class="fab fa-instagram"></i></a>
      </div>
      <div class="text-center mt-3">
        <p class="mb-0">&copy; 2024 The Vision Library. All rights reserved.</p>
      </div>
    </div>
  </footer>
  