
  <nav class="navbar navbar-expand-lg navbar-light bg-light py-3 shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold text-primary" href="#">The Vision Library</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarScroll">
        <!-- Home link on the left -->
        <!-- <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active fw-bold" aria-current="page" href="#">Home</a>
          </li>
        </ul> -->
  
        <!-- Library-related links on the right -->
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About Us</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/events">Events</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
